	<div class="col-md-12" style="padding: 15px;border-radius: 5px; box-shadow: 1px 1px 5px 2px #888888;margin-top: 5px;">
		<form>
			<div class="form-group">
				<label for="email">Share something</label>
				<textarea class="form-control" cols="20" rows="5"></textarea>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="email">Choose Your File</label>
					<input type="file" name="userphoto">
				</div>
			</div>
			<div class="col-md-6">
				<hr>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
	<div class="clearfix"></div>
	<hr>
	<div class="col-md-6">
		<div>
			<p class="text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper tortor a sem pulvinar, et hendrerit felis pretium. Duis tempor ultricies dignissim. Donec vitae massa tellus. Sed a luctus metus, a pharetra arcu. Etiam metus massa, aliquet nec urna ut, interdum ultrices augue. Mauris convallis nisi sed cursus imperdiet. Duis auctor vulputate lorem at dignissim. Vestibulum vehicula purus sit amet est elementum, ac ullamcorper mi dignissim. Cras vitae aliquam elit. Sed blandit massa nisl, eget sodales nunc ornare id. Integer vestibulum purus eu rutrum mollis. Nam nibh urna, tempus sit amet erat ac, ultricies rutrum libero. Sed euismod nulla sed nunc pellentesque volutpat. Suspendisse potenti.
			</p>
		</div>
	</div>

		<div class="col-md-6">
		<div>
			<p class="text-justify">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper tortor a sem pulvinar, et hendrerit felis pretium. Duis tempor ultricies dignissim. Donec vitae massa tellus. Sed a luctus metus, a pharetra arcu. Etiam metus massa, aliquet nec urna ut, interdum ultrices augue. Mauris convallis nisi sed cursus imperdiet. Duis auctor vulputate lorem at dignissim. Vestibulum vehicula purus sit amet est elementum, ac ullamcorper mi dignissim. Cras vitae aliquam elit. Sed blandit massa nisl, eget sodales nunc ornare id. Integer vestibulum purus eu rutrum mollis. Nam nibh urna, tempus sit amet erat ac, ultricies rutrum libero. Sed euismod nulla sed nunc pellentesque volutpat. Suspendisse potenti.
			</p>
			<img src="assest/uploads/a.jpg">
		</div>
	</div>
	<div class="pull-right">
		<button class="btn btn-primary"> Load more</button>
	</div>




