
<div class="contanier">
	<div class="col-md-4">
		<img src="assest/images/a.jpg">	
	</div>
	<div class="col-md-4">
		<img src="assest/images/b.jpg">	
	</div>
	<div class="col-md-4">
		<img src="assest/images/c.jpg">	
	</div>
	


	<div class="col-md-4 lmsecton">
		<h2>Create Forum</h2>
		<h3>Get All answers</h3>
	</div>
	<div class="col-md-4 lmsecton">
		<h2>Chat With Your Friends</h2>
		<h3>Make new friends</h3>
	</div>
	<div class="col-md-4 lmsecton">
		<h2>Learn more</h2>
		<h3>Earn More</h3>
	</div>
</div>		


