<div class="col-md-4">	
	<img src="assest/images/c.jpg">	
</div>
<div class="col-md-8 loginbox">
	<div ng-if="checked" class="alert alert-danger">
		{{ PostDataResponse }}
	</div>

	<h2>Login</h2>
	<form name="form" ng-submit="loginWithData()" role="form">
		<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
			<label for="username">Email address:</label>
			<input type="email" name="username" id="username" class="form-control" ng-model="username" required />
			<span ng-show="form.username.$error.required" class="help-block">Email is required(ex:xyz@domail.com)</span>
			<span class="help-block" ng-show="form.username.$error.email">
			Not valid email!</span>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" class="form-control" ng-model="password" required ng-minlength="6" />
			<span ng-show="form.password.$error.required" class="help-block">Password is required</span>
			<span ng-show="form.password.$error.minlength" class="help-block">Password is atleast 6 characters</span>
		</div>
		<div class="form-actions">
			<button type="submit" ng-disabled="form.$invalid || form.dataLoading" class="btn btn-primary">Login</button>
			
			<a href="#!SignUp" class="btn btn-link">SignUp</a>
		</div>
	</form>	
</div>
<div class="clearfix"></div>
<hr>






